 body {
 background-color: skyblue;
}
#igottabeme {
  font-family: Arial, Helvetica, sans-serif;
}

  p.classy {
    margin-left: 10px;
  }
div {
 margin-bottom: 50px;
}
span {
 width: 100px;
 height: 50px;
 padding: 5px 20px;
 border-style: solid;
 border-color: blue;
 background-color: yellow;
}
 
span.a {
 display: inline;
}
span.b {
 display: block;
}
span.c {
 display: inline-block;
}

 tr:nth-child(even) {
  background-color: #f2f2f2;
}
td:hover {
 background-color: yellow;
}
td {
 text-align: right;
}
input[type=text] {
 background-color: pink;
}
nav {
 position: -webkit-sticky;
 position: sticky;
 background-color: green;
 top: 0;
 opacity: 0.9;
 padding: 5px;
 font-size: 20px;
}
