 body {
 background-color: sky blue;
}
#igottabeme {
  .sansserif {
  font-family: Arial, Helvetica, sans-serif;
}
}
  p.class {
    margin left: 10px;
  }
div {
 margin-bottom: 50px;
}
span {
 width: 100px;
 padding: 5px 20px;
 background-color: yellow;
}
 span.solid{
  border-style: solid;
  border-color: blue;
  border-width: 5px;
 }
span.a {
 display: inline;
}
span.b {
 display: block;
}
span.c {
 display: inline-block;
}
nav {
 position: sticky;
 background-color: green;
 opacity: 0.9;
 padding: 5px;
 font-size: 20px;
}
